{% extends 'layoutMain.html.twig' %}

{% block layout %}
    <section class="admin-listing-room">
    <div class="container-fluid container-title text-center">
        <div class="col-xs-8 col-xs-offset-2">
            <h1>Liste des réservations</h1>
        </div>
        <div class="col-xs-2">
            <a class="btn btn-warning" href="{{ path('reservation_archive')}}">Archive</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">Accueil</th>
                    <th class="text-center">Société</th>
                    <th class="text-center">Nom / Prénom du client</th>
                    <th class="text-center">Salle</th>
                    <th class="text-center">Date de pret</th>
                    <th class="text-center">Date de retour</th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr class="admin-listing">
                        <td class="text-center">{{ reservation.staff.lastname }}
                            - {{ reservation.staff.firstname }}</td>
                        <td class="text-center">{{ reservation.society }}</td>
                        <td class="text-center">{{ reservation.lastName }} - {{ reservation.firstName }}</td>
                        {% if reservation.room is not null %}
                        <td class="text-center">{{ reservation.room.name }}</td>
                            {% else %}
                                <td class="text-center"></td>
                        {% endif %}
                        <td class="text-center">{{ reservation.reservationStart.date|date('d/m/Y H:i') }}</td>
                        <td class="text-center">{{ reservation.reservationEnd.date|date('d/m/Y H:i') }}</td>

                        <td class="edit">
                            <a role="button" class="btn btn-warning"
                               href="{{ path('reservation_details', { 'id': reservation.id }) }}">Details</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

