{% extends 'base.html.twig' %}

{% block body %}

<section class="staff-reservation">
    <div class="container-fluid container-title text-center">
        <h1>Reservation creation</h1>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            {{ form_start(form) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.society) }}
                {{ form_row(form.staff) }}

                <div class="row">
                {% for reservationEquipment in form.reservationEquipments %}
                    <div class="col-md-4">
                        <img src="" />
                        {{ form_row(reservationEquipment) }}
                        <input type="button" class="plus" value="+" data-element="{{ reservationEquipment.quantity.vars.id }}" />
                        <input type="button" class="minus" value="-" data-element="{{ reservationEquipment.quantity.vars.id }}" />
                    </div>
                {% endfor %}
                </div>

                <div class="row"><input type="submit" class="btn btn-primary" value="Create" /></div>
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('build/reservation.js') }}"></script>
{% endblock %}