{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block body %}
    <h1>Reservation creation</h1>
    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.reservationDate) }}
    {{ form_row(form.email) }}

    <div class="container">
        <div class="row">
            <div class="container-button text-center">
                <button type="button" id="room-button" class="btn btn-danger">Salles</button>
                <button type="button" id="equipment-button" class="btn btn-danger">Equipements</button>
            </div>
            <section id="room" class="row">
                {{ form_row(form.room) }}
            </section>
            <section id="equipment" class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="equipment-title">Équipements</h2>
                        </div>
                        <div class="row text-center">
                            {% for equipment in equipments %}
                                <div class="col-md-4 add-equipment">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="{{ equipment.picture }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>{{ equipment.name }}</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <input type="submit" value="Create"/>
        {{ form_end(form) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('reservation_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
