{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/flatpickr.css') }}">
{% endblock %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <section class="container-fluid staff-reservation">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="row reservation-infos">
                    <div class="col-sm-4 col-xs-12">
                        {{ form_row(form.staff) }}
                        {{ form_row(form.reservationStart) }}
                        {{ form_row(form.reservationEnd) }}
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        {{ form_row(form.email) }}
                        {{ form_row(form.society) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="row reservation-equipment">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="row">
                            {% for reservationEquipment in form.reservationEquipments %}
                                <div class="col-sm-3 col-xs-12 text-center">
                                    <div class="equipment">
                                        <img class="img-circle"
                                             src="{{ reservationEquipment.vars.value.equipment.picture }}"/>
                                        <p>{{ reservationEquipment.vars.value.equipment.name }}</p>
                                        <div class="row equipment-btns">
                                            <div class="col-xs-4 row equipment-btns">
                                                <input type="button" class="minus" value="-"
                                                       data-element="{{ reservationEquipment.quantity.vars.id }}"/>
                                            </div>
                                            <div class="col-xs-4 row equipment-btns text-center">
                                                {{ form_widget(reservationEquipment) }}
                                            </div>
                                            <div class="col-xs-4 row equipment-btns">
                                                <input type="button" class="plus" value="+"
                                                       data-element="{{ reservationEquipment.quantity.vars.id }}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">
                <input type="submit" class="btn btn-primary" value="Valider"/>
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/reservation.js') }}"></script>
{% endblock %}