{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="resources/css/bcPaint.css"/>
    <link type="text/css" rel="stylesheet" href="resources/css/bcPaint.mobile.css"/>
{% endblock %}


{% block body %}
    <h1>Reservation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ reservation.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ reservation.lastName }}</td>
            </tr>
            <tr>
                <th>Reservationdate</th>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ reservation.email }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <div id="bcPaint"> <!-- Signature start -->

    </div> <!-- Signature end -->
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="resources/js/bcPaint.js"></script>
    <script>
        $(function(){
            $('#bcPaint').bcPaint();
        });
    </script>
{% endblock %}
