{% extends 'base.html.twig' %}

{% block body %}
    <section class="staff-reservation">
        <div class="container-fluid container-title text-center">
            <h1>Détails de la Reservation</h1>
        </div>
        <div class="col-6">
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <h4> Responsable de l'accueil : {{ reservation.staff.firstName }} {{ reservation.staff.lastName }}</h4>
                {#liste checkbox room#}
            </div>
        </div>
        <div class="col-6">
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <h4>Matériel réservé </h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Equipement</th>
                        <th>Quantité</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipment in reservation.reservationEquipments %}
                        {% if (equipment.quantity > 0) %}
                            <tr>
                                <th>{{ equipment.equipment.name }}</th>
                                <th>{{ equipment.quantity }}</th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-6">
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <h4>Salle séléctionnée : </h4>
                {# salle réservée#}
            </div>
        </div>
        <div class="col-6">
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <h4>Date de retour : {{ reservation.reservationEnd.date | date('d-m-Y H:i') }} </h4>
                {# salle réservée#}
            </div>
        </div>
        <div class="col-6">
            <div class="col-xs-6 col-md-5 col-md-offset-1">
                <h4>Société : {{ reservation.society }}</h4>
                <h4>Nom : {{ reservation.lastName }}</h4>
                <h4>Prénom : {{ reservation.firstName }}</h4>
                <h4>Email : {{ reservation.email }}</h4>
                <h4>Date : {{ reservation.reservationStart.date | date('d-m-Y H:i') }}</h4>

                <h4></h4>
            </div>
        </div>
    </section>


    {#<a href="{{ path('reservation_index') }}">Back to the list</a>#}



{% endblock %}
