{% extends 'layoutMain.html.twig' %}

{% block layout %}
    <section class="container-fluid recap-resa">
        <div class="row">
            <div class="col-xs-12">
                <div class="row title">
                    <div class="col-xs-12 text-center">
                        <h1>Détails de la réservation</h1>
                    </div>
                </div>

                <div class="row content">
                    <div class="container">
                        <div class="row table-row">
                            <div class="col-xs-12 col-md-4 vignette">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>Responsable de l'accueil :</h4>
                                            <p>{{ reservation.staff.firstName }} {{ reservation.staff.lastName }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>Date de retour :</h4>
                                            <p>{{ reservation.reservationEnd.date | date('d/m/Y H:i') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4 vignette">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            {% if reservation.room is not null %}
                                                <h4>Salle séléctionnée : {{ reservation.room.name }} </h4>
                                            {% else %}
                                                <h4>Aucune salle selectionnée</h4>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% if reservation.room is not null %}
                                            <div class="col-xs-1">
                                                <img src="/images/key.svg" alt="key" class="icon">
                                            </div>
                                            <div class="col-xs-10">
                                                <p>Clé remise</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        {% if reservation.room is not null %}
                                            {% if reservation.room.doors == true %}
                                                <div class="col-xs-1">
                                                    <img src="/images/door-open.svg" alt="door" class="icon">
                                                </div>
                                                <div class="col-xs-10">
                                                    <p>Dévérrouillage des deux portes</p>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        {% if reservation.room is not null %}
                                            {% if dateOffice == true %}
                                                <div class="col-xs-1">
                                                    <img src="/images/extinguisher.svg" alt="checkbox" class="icon">
                                                </div>
                                                <div class="col-xs-10">
                                                    <p>Formation SSI</p>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4 vignette">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>Matériel réservé :</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Equipement</th>
                                                    <th>Quantité</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for equipment in reservation.reservationEquipments %}
                                                    {% if (equipment.quantity > 0) %}
                                                        <tr>
                                                            <th>{{ equipment.equipment.name }}</th>
                                                            <th>{{ equipment.quantity }}</th>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 vignette">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <h4>Date :</h4>
                                            <p>{{ reservation.reservationStart.date | date('d/m/Y H:i') }}</p>
                                        </div>
                                        <div class="col-xs-12 col-md-2 col-md-offset-1">
                                            <h4>Société :</h4>
                                            <p>{{ reservation.society }}</p>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <h4>Nom :</h4>
                                            <p>{{ reservation.lastName }}</p>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <h4>Prénom :</h4>
                                            <p>{{ reservation.firstName }}</p>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <h4>Email :</h4>
                                            <p>{{ reservation.email }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12" id="canvas"></div>
                        </div>
                    </div>
                </div>

                <div class="row buttons">
                    <div class="col-xs-12 col-md-2 col-md-offset-4 text-center">
                        <a href="{{ path('reservation_new') }}">
                            <button type="button" class="btn btn-home">Retour</button>
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-2 text-center">
                        <div class="row">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" id="submit" class="btn btn-home">Envoyer</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/signature.js') }}"></script>
{% endblock %}