{% extends 'admin/layoutAdmin.html.twig' %}

{% block layout %}

    <section class="admin-listing-room">
        <div class="container-fluid container-title text-center">
            <h1>Gestion des équipements</h1>
        </div>

        <div class="container">
            <div class="row">
                <table class="table">
                    <tbody>
                            {% for equipment in equipments %}
                        <tr class="admin-listing">
                            <td class="arrow">
                                {% if loop.index0 != 0 %}
                                    <a href="{{ path('up_order_edit', { 'id': equipment.id }) }}">
                                        <img src="/images/angle-up.svg" width="10" alt="up"></a>
                                {% endif %}
                            </td>
                            <td class="arrow">
                                {% if loop.index0 < (equipments|length)-1 %}
                                    <a href="{{ path('down_order_edit', { 'id': equipment.id }) }}">
                                        <img src="/images/angle-down.svg" width="10" alt="down"></a>
                                {% endif %}
                            </td>
                            <td>{{ equipment.name }}</td>
                            <td class="edit">
                                <a role="button" class="btn btn-primary"
                                   href="{{ path('equipment_show', { 'id': equipment.id }) }}">Détails</a>
                            </td>
                            <td class="edit">
                                <a role="button" class="btn btn-warning"
                                   href="{{ path('equipment_edit', { 'id': equipment.id }) }}">Modifier</a>
                            </td>

                            <td class="delete">
                                {{ form_start(deleteForms[equipment.id]) }}
                                <button type="submit" class="btn btn-danger">
                                    <i class="icon-trash"></i>
                                    Supprimer
                                </button>
                                {{ form_end(deleteForms[equipment.id]) }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a role="button" class="btn btn-primary" href="{{ path('equipment_new') }}">
                            Ajouter un équipement</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

