{% extends 'base.html.twig' %}

{% block body %}
    <h1>Staff list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for staff in staff %}
            <tr>
                <td><a href="{{ path('staff_show', { 'id': staff.id }) }}">{{ staff.id }}</a></td>
                <td>{{ staff.lastName }}</td>
                <td>{{ staff.firstName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('staff_show', { 'id': staff.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('staff_edit', { 'id': staff.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('staff_new') }}">Create a new staff</a>
        </li>
    </ul>
{% endblock %}
