{% extends 'admin/layoutAdmin.html.twig' %}

{% block layout %}
    <section class="admin-listing-room">
        <div class="container-fluid container-title">
            <h1>Gestion des salles</h1>
        </div>
        <div class="container-fluid">
            <div class="col-xs-6 col-xs-offset-3">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-danger text-center" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="container margin-fixed-bottom">
            <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nom de la salle</th>
                        <th class="text-center">Double</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                        <tr class="admin-listing">
                            <td class="name">{{ room.name }}</td>
                            <td class="double text-center"> {% if room.doors == 1 %}
                                    <img src="/images/door-open.svg" width="30" alt="icone de porte">{% endif %}</td>
                            <td class="edit">
                                <a role="button" class="btn admin-btn"
                                   href="{{ path('room_edit', { 'id': room.id }) }}">
                                    <img src="/images/edit-regular.svg" alt="">
                                </a>
                            </td>
                            <td class="delete">
                                <form action="{{ path('room_delete', { 'id': room.id }) }}" method="post">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    {{ form_widget(delete_forms[room.id]) }}
                                    <button type="submit" class="btn admin-btn">
                                        <img src="/images/trash-alt-regular.svg" alt="">
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row navbar-fixed-bottom style-fixed-bot">
            <div class="col-xs-12 text-center">
                <a role="button" class="btn btn-primary" href="{{ path('room_new') }}">Ajouter une salle</a>
            </div>
        </div>
    </section>
{% endblock %}
