{% extends 'admin/layoutAdmin.html.twig' %}

{% block layout %}
    <section class="admin-listing-staff">
        <div class="container-fluid container-title">
            <h1>Gestion des membres du personnel</h1>
        </div>
        <div class="container">
            <div class="row">
                <table class="table">
                    <tbody>
                    <tr class="admin-listing">
                        <th class="name">Prénom</th>
                        <th colspan=3 class="name">Nom</th>
                    </tr>
                    {% for staff in staff %}
                        <tr class="admin-listing">
                            <td class="name">{{ staff.firstName }}</td>
                            <td class="name">{{ staff.lastName }}</td>
                            <td class="edit">
                                <a role="button" class="btn btn-warning"
                                   href="{{ path('staff_edit', { 'id': staff.id }) }}">Modifier</a>
                            </td>
                            <td class="delete">
                                <form action="{{ path('staff_delete', { 'id': staff.id }) }}" method="post">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    {{ form_widget(delete_form[staff.id]) }}
                                    <button type="submit" class="btn btn-danger">
                                        <i class="icon-trash"></i>
                                        Supprimer
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a role="button" class="btn btn-primary" href="{{ path('staff_new') }}">Ajouter un membre</a>
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}
